.extra-background {
  background-color: #a68c5b;
}

.extra-container {
  grid-column: 3 / 11;
  grid-row: 2;
  padding: 30px;
}

.extra-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
  grid-gap: 20px;
}

.discounts h3 {
  padding-bottom: 10px;
}
.discounts p {
  padding-top: 8px;
}

.pleasenote h3 {
  padding-bottom: 10px;
}
