h1 {
  text-align: center;
  font-size: 64px;
}
h1 span {
  font-size: 50px;
}

h4 {
  text-align: center;
  color: white;
}
.header-container {
  display: inline-grid;
  grid-column: 3 / 11;
  padding-top: 70px;
}

.header-background {
  background-color: #b8bf7e;
}

.bookImages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.bookImages img {
  border: 4px solid #a68c5b;
  border-radius: 10px;
}

.markTwain {
  position: relative;
  justify-self: center;
  padding-top: 10px;
  text-align: center;
}

.dates {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
}
.dates h3 {
  padding-top: 10px;
}
.mobile-display {
  display: none;
}
@media screen and (max-width: 768px) {
  .header-container {
    display: inline-grid;
    grid-column: 1/13;
  }

  .bookImages {
    display: none;
  }
  h1 {
    font-size: 40px;
    text-align: center;
  }
  h1 span {
    font-size: 30px;
  }
  h4 {
    font-size: 18px;
    text-align: center;
    color: #3a403e;
  }
}

@media only screen and (max-width: 430px) {
  h1 {
    font-size: 32px;
    text-align: center;
  }
  h1 span {
    font-size: 20px;
    text-align: center;
  }

  h4 {
    display: none;
  }
  .header-container {
    display: inline-grid;
    grid-column: 1 / 13;
  }
  .bookImages {
    display: none;
  }
  .markTwain {
    display: none;
  }
  .mobile-display {
    display: grid;
    justify-content: center;
  }
  .mobile-display h2 {
    font-size: 18px;
  }
  .mobile-display h3 {
    text-align: center;
  }
}
