nav {
  grid-column: 5 / 11;
  height: 70px;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-right: 3em;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.nav-background {
  background-color: white;
}
.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: #f29863;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .nav-background {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  nav {
    display: none;
  }
  .nav-background {
    display: none;
  }
}
