main {
  display: grid;
  padding: 32px;
}
.summary-left h2 {
  text-align: left;
  padding-bottom: 20px;
  font-size: 39px;
}

.summary-left h3 {
  text-align: right;
  font-size: 35px;
}
.show-background {
  background-color: #b8bf7e;
}

.showInfo {
  grid-column: 3 /11;
  padding-top: 45px;
}
.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
}

.summary-left div {
  padding: 30px;
}

.summary-right div {
  padding: 30px;
}

.summary1 {
  border-bottom: 2px solid #3a403e;
  border-left: 2px solid #3a403e;
}
.summary2 {
  border-left: 2px solid #3a403e;
}

@media screen and (max-width: 768px) {
  .showInfo {
    display: inline-grid;
    grid-column: 1 /13;
  }
  .summary {
    display: flex;
  }
  .summary-left h2 {
    font-size: 30px;
    text-align: left;
  }
  .summary-left h3 {
    font-size: 20px;
    text-align: right;
  }
  .summary-right {
    font-size: 18px;
  }
}

@media only screen and (max-width: 430px) {
  .showInfo {
    display: grid;
    grid-column: 1 /13;
  }
  .summary {
    display: flex;
  }
  .summary-left {
    display: none;
  }
  .summary-right {
    font-size: 14px;
  }
}
