main {
  display: grid;
  padding: 25px;
}
.summary-left h2 {
  text-align: left;
  padding-bottom: 20px;
  font-size: 39px;
}
.show-background {
  background-color: #b8bf7e;
}

.showInfo {
  grid-column: 3 /11;
  padding-top: 20px;
}
.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
}

.summary-left div {
  padding: 10px;
}

.summary-right div {
  padding: 20px;
}

.summary1 {
  border-bottom: 2px solid #3a403e;
  border-left: 2px solid #3a403e;
}
.summary2 {
  border-left: 2px solid #3a403e;
}
