.about {
  grid-column: 3 / 11;
  grid-row: 2;
  padding: 30px;
}
.about h2 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 15px;
}
.ticket-background {
  background-color: #a68c5b;
}

.ticket-container {
  display: flex;
}

.restaurantinfo h3 {
  padding-bottom: 10px;
}

.ticketinformation h3 {
  padding-bottom: 10px;
}

.ticketinformation li {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .about {
    display: inline-grid;
    grid-column: 1 /13;
  }
  .ticket-container {
    display: flex;
  }
  .ticket-container img {
    display: none;
  }
}

@media only screen and (max-width: 430px) {
  .about {
    display: grid;
    grid-column: 1 /13;
  }
  .ticket-container {
    display: flex;
  }
  .ticket-container img {
    display: none;
  }
}
